.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100}
/* Shared style */
.secondary-bg{
    background-color: rgb(255, 248, 243);
}
.text-primary{
    color: rgb(253, 110, 10);
}
.dark-2{
    color: rgb(71, 71, 71);
}
.header{
    background-image: url(../developer.png),url(../header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
 
}
.text-center{
    text-align: center;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: dark-1;
}
.section-description{
    font-size: 18px;
    color: rgb(117, 117, 117);
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200;
}
.btn-primary{
    background-color: rgb(253, 110, 10);
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 10px;
    border: none;
}
.nav-title{
font-weight: 800;
font-size: 30px;

}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 26px 0 50px;
}
.banner-greetings{
font-size: 45px;
font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 55px;
}
.banner-profile-pic{
    width: 500px;
}
.banner-content{
    max-width: 580px;
}
/* main style */
main{
min-width: 1140px;
margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
 /* about style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
} 
.about-items{
    display: flex;
    justify-content: space-between;
}
.about-description{
    font-weight: 600;
}
/* skill section */
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
/* resume section style */
.resume-container{
    display: flex;
    gap: 20px;
     ;
} 
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description,.experience-sub-title{
    color: rgb(117, 117, 117);
}
.resume hr{
    margin: 30px 5px;
}
.text-center{
    margin-top: 50px;
}